<div class="row" ng-controller="PaginationController">

	<div class="container col-centered">
    	<ul class="pagination">
			<li ng-click="pgdown()"><a href="">&laquo;</a></li>
    		<li ng-repeat="page in pages" 
        		ng-click="selectPage(page)" 
        		ng-class="{active: page == PaginationStuff.selectedpage}">
              <a href="" >{{page}}</a>
			</li>
	    	<li ng-click="pgup()"><a href="">&raquo;</a></li>
    	</ul>
	</div>
</div>

<div class="panel-body">
	<div>
	    <div class="col-sm-4">
	      <form role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" ng-model="query">
	        </div>
	      </form>
	    </div>
	    <a href="#/articles/newarticle"><i class="fa fa-plus-circle fa-2x"></i></a>
	    <div class="col-sm-4 pull-right">
	            {{CategoryStuff.selectedcategory}} <a href="#/categories" ng-click="selectCategory(0)"><i class="fa fa-bomb fa-2x"></i></a> Esta bomba te lleva a la pagina de filtros
	    </div>
	</div>
    
    <table class="table table-striped table-hover table-bordered">
		<thead>
		  <th>Code </th>
		  <th>Description </th>
		  <th>Category</th>
		  <th>Subcategory</th>
		</thead>
		<tr ng-repeat="article in ArticleStuff.filteredarticles | filter:query" 
          	ng-click="selectArticle(article)" 
          	ng-class="{active: article.Code == ArticleStuff.selectedarticle}"
          	ng-show="paginateArticle($index)">
	    	<td>{{article.Code}}</td>
	    	<td>{{article.Description}}</td>
	    	<td>{{article.Category}}</td>
	    	<td>{{article.Subcategory}}</td>
    	</tr>
    </table>
 </div>
