<div class="panel-body" ng-controller="CategoryController">
	<div>
	    <a href="#/articles/newarticle">
	    	<span>Añadir un nuevo artículo <i class="fa fa-plus-circle"></i></span>
	    </a>
	    <br>
	    <hr>
        <div class="col-sm-4 col-xs-8">
		    <form role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" 
		          		 placeholder="Search" ng-model="query">
		        </div>
		    </form>
		</div>
	    <div ng-controller="CSVController" class="btn"
		 style="background-color: rgb(139, 216, 139)"
		 ng-csv="getdata(articles)" filename="Articulos.csv" add-bom="true"> 
		 Extraer Excel 
		</div> 
	         
	</div>

    <br>
    <hr>

	<mzpanel title="Todos" color="#2e302c" active="{{todos.active}}">
		<table class="table table-striped table-hover table-bordered">
			<thead style="background-color: rgb(182, 180, 180)">
			  <th ng-click="sort('Code')">Código </th>
			  <th ng-click="sort('Description')">Descripción </th>
			  <th ng-click="sort('Category')"
			  	  class="hidden-xs">Categoría</th>
			  <th ng-click="sort('Subcategory')"
			  	  class="hidden-xs">Subcategoría</th>
			</thead>
			<tr ng-repeat="article in articles | orderBy:predicate:reverse |
							filter: query | limitTo: limit" 
	          	ng-click="selectArticle(article, $event)">
		    	<td>{{article.Code}}</td>
		    	<td>{{article.Description}}</td>
				<td class="hidden-xs">{{article.Category}}</td>
		    	<td class="hidden-xs">{{article.Subcategory}}</td>
	    	</tr>
		</table>
		<div class="btn btn-grey col-xs-5 col-sm-4 col-md-2"
			 ng-click="limit = 5"> 
			 Mostrar 5 
		</div> 
		<div class="btn btn-grey pull-right col-xs-6 col-sm-4 col-md-2"
			 ng-click="limit = limit + 40"> 
			 Mostrar más... 
		</div>
		<div class="btn btn-grey pull-right col-xs-6 col-sm-4 col-md-2"
			 style="margin-right: 5px"
			 ng-click="limit = limit + 4000"> 
			 Mostrar Todos 
		</div> 	 	
	</mzpanel>

	<div ng-repeat="category in categories">


	    <mzpanel title="{{category.name}}" color="{{category.color}}"> 
			<table class="table table-striped table-hover table-bordered">
				<thead style="background-color: rgb(182, 180, 180)">
				  <th ng-click="sort('Code')">Código </th>
				  <th ng-click="sort('Description')">Descripción </th>
				  <th class="hidden-xs">Categoría</th>
				  <th ng-click="sort('Subcategory')"
				  	  class="hidden-xs">Subcategoría</th>
				</thead>
				<tr ng-repeat="article in articles | filter:category.name | 
							   orderBy:predicate:reverse | 
							   filter: query | limitTo: limit" 
		          	ng-click="selectArticle(article, $event)">
			    	<td>{{article.Code}}</td>
			    	<td>{{article.Description}}</td>
			    	<td class="hidden-xs">{{article.Category}}</td>
			    	<td class="hidden-xs">{{article.Subcategory}}</td>
		    	</tr>
		    </table>
			<div class="btn btn-grey col-xs-5 col-sm-4 col-md-2"
				 ng-click="limit = 5"> 
				 Mostrar 5 
			</div> 
			<div class="btn btn-grey pull-right col-xs-6 col-sm-4 col-md-2"
				 ng-click="limit = limit + 20"> 
				 Mostrar más... 
			</div> 
		</mzpanel>

    </div>
</div>

    