<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> aquo | Inventory </title>

    <!-- ICON -->
    <link href="/drop.ico" rel="icon" type="image/x-icon" />

    <!-- CSS  -->
    <link rel="stylesheet" href="../libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="../libs/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:400,500|Poiret+One|Philosopher|Neucha|Ubuntu:300,400|Josefin+Sans|Raleway:400,300|Didact+Gothic|Handlee' rel='stylesheet' type='text/css'>

    
    <!-- Page Specific CSS -->


    <!-- JavaScripts -->
    <script rel="javascript" src="../libs/js/jquery.min.js"></script>
    <script rel="javascript" src="../libs/js/bootstrap.min.js"></script>
    <script rel="javascript" src="../libs/js/angular.min.js"></script>
    <script rel="javascript" src="../libs/js/angular-route.min.js"></script>
    <script rel="javascript" src="../libs/js/angular-mocks.js"></script>
    <script rel="javascript" src="../libs/js/angular-resource.min.js"></script>
    <script rel="javascript" src="../libs/js/ui-bootstrap-tpls.min.js"></script>
    <script rel="javascript" src="../libs/js/angular-sanitize.min.js"></script>
    <script rel="javascript" src="../libs/js/ng-csv.min.js"></script>


    <!-- Page Speciic JS -->
    <script rel="javascript" src="../modules/inventory/dashboard/app.js"></script>

  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top" 
         role="navigation"
         ng-include src="'../modules/inventory/partialviews/navbar.html'">
    </div>

    <div class="container">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="/inventory/dashboard">Dashboard</a></li>
        <li><a href="/inventory/stock">Stock</a></li>
        <li><a href="/inventory">Database</a></li>
      </ul>
    </div>

    <h1>DASHBOARD</h1>
    <div class="container bg-white" ng-controller="DashboardController">
    </div>

  </body>
</html>
