<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Cycnus | Home </title>

    <!-- ICON -->
    <link href="/swanicon.ico" rel="icon" type="image/x-icon" />


    <!-- CSS  -->
    <link rel="stylesheet" href="libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/css/style.css">

    
    <!-- Page Specific CSS -->


    <!-- JavaScripts -->
    <script rel="javascript" src="libs/js/jquery.min.js"></script>
    <script rel="javascript" src="libs/js/bootstrap.min.js"></script>
    <script rel="javascript" src="libs/js/angular-route.min.js"></script>
    <script rel="javascript" src="libs/js/angular.min.js"></script>
    <script rel="javascript" src="libs/js/angular-mocks.js"></script>
    <script rel="javascript" src="libs/js/angular-resource.min.js"></script>

    <!-- Page Speciic JS -->

  </head>


  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-yelp fa-lg"></i>
          </button>
          <a class="navbar-brand" href="">Cycnus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div>
    </div>

    <div class="container">
      <div class="jumbotron col-md-5">
        <h2>Inventory Management</h2>
        <h5>  Why not try to manage your inventory with our easy inventory app??</h5>
        <h5>  Just scroll through all your articles and take a look at their info and specs. You can also add, edit and delete articles from the database.</h5>
        <hr>
        <p><a href="/inventory" class="btn btn-success btn-lg pull-right" role="button"> Go!</a></p>
        <br>
      </div>

      <div class="col-md-1">
      </div>
    
      <div class="jumbotron col-md-5">
        <h2>Production Control</h2>
        <h5>  Is your production information getting way too messy??</h5>
        <h5>  Add your Bill Of Materials in a simple visible way. Use the app to plan and schedule the forthcoming productions. You can also notify the current activity and production into the system with the "machine pad".</h5>
        <hr>
        <p><a href="/production" class="btn btn-success btn-lg pull-right" role="button">Go!</a></p>
        <br>
      </div>
    </div>
    
    <div class="container">
      <p><a href="/sandbox" class="btn btn-success btn-lg" role="button">Mike's Sandbox</a>
      </p>
    </div>

  </body>
</html>

