<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <title>Aquo | Login</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/css/font-awesome.min.css">
    
    <!-- Page Specific CSS -->


    <!-- JavaScripts -->
    <script rel="javascript" src="libs/js/jquery.min.js"></script>
    <script rel="javascript" src="libs/js/bootstrap.min.js"></script>
    <script rel="javascript" src="libs/js/angular-route.min.js"></script>
    <script rel="javascript" src="libs/js/angular.min.js"></script>
    <script rel="javascript" src="libs/js/angular-mocks.js"></script>
    <script rel="javascript" src="libs/js/angular-resource.min.js"></script>

    <!-- Page Speciic JS -->

</head>

<body>


    <div class="" style="height:50%; position:relative">
        <div class="container">
            <div class="row vertical-offset-100">
              <div class="col-md-4 center_well">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                        <!-- <img class="img-center" src="images/drop.png" width="143" height="209" alt="profile pic" style="width:143px; height:209px; text-align:center;">
                        -->
                        Aquo Login
                    </h3>
                </div>
                  <div class="panel-body">
                    <form action="/auth/local" method="post" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div> 


                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            <div class="link">                               
                                 <a href="/home">Home</a> <br>
                                 <a href="#recovery">Forgot my password</a> 
                            </div>
                        </fieldset>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

    </div>
</body>

</html>