<div class="container" style="margin-left: 30px">
	<div class="well col-sm-3" ng-click="redirect('/database/import')">
		<p> Import Stuff to the database </p>
	</div>
	<div class="well col-sm-3" ng-click="redirect('/database/export')">
		<p>	Export Stuff from the database </p>
	</div>
	<div class="well col-sm-3" ng-click="redirect('/database/erase')">
		<p> Erase stuff from the database</p>
	</div>
</div>

<style type="text/css">

	.well {
		background-color: lightgrey;
		border-color: grey;
		margin: 10px;
		min-height: 60px;
	}

	.well:hover {
		cursor:pointer;
	}



</style>